.jumbotron { 
    background-color: rgb(19, 22, 150);
    color: #ffffff;
    text-align: center;
    padding: 100px 25px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .carousel-inner > .item > img,{
    width:460px; 
    height:345px;
  }
  .item{
    width: 100%;
    height: auto;
}
#videogalerijah{
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.container-fluid {
    padding: 60px 50px;
}
h1{
    text-transform: uppercase;
}
